.categoriesMultiSelect {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  text-align: start !important;

  div:last-child {
    div:last-child {
      background-color: inherit;
    }
  }

  hr {
    display: none !important;
  }
}