@use "./variables.scss"as v;
@import url("https://fonts.googleapis.com/css?family=Poppins");

*,
*::before,
*::after {
  box-sizing: border-box;
  transition: all 150ms ease-in-out;
  font-family: "Poppins";
}

body {
  background-color: v.$background-color !important;
  margin: 0;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

button {
  letter-spacing: 1.5px;
}

::placeholder {
  letter-spacing: 1.5px;
}

*,
*::before,
::after {
  border-color: 'red' !important;
}

option:focus,
option:active {
  box-shadow: none !important;
  outline: none;
}

input:focus,
textarea:focus,
select:focus,
a:focus {
  outline: none;
}

[dir='rtl'] {
  .css-iohxn1 {
    right: unset;
    left: 8px;
  }

  .css-1otzvkf {

    right: unset;
    left: 0;
  }

  .css-1ik4h6n {
    // close icon
    right: unset;
    left: 8px;

  }

  .date-rtl {
    text-align: end;
  }

  .tel-rtl {
    text-align: end;

  }
}

#root {
  height: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c4c4c4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #acacac;
}