@use "./variables.scss"as v;
@import url("https://fonts.googleapis.com/css?family=Poppins");

*,
*::before,
*::after {
  box-sizing: border-box;
  transition: all 150ms ease-in-out;
  font-family: "Poppins";
}

body {
  text-transform: capitalize;
  background-color: v.$background-color;
  margin: 0;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}


input::placeholder {
  text-transform: capitalize;
}

#root {
  height: 100%;
}